.portfolio .button {
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--lighter-background-color);
  padding: 6px 22px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio .button:hover,
.portfolio .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio .name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio .link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.portfolio .type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects .item {
  width: calc((100% - 2 * 30px) / 3);
}

.projects .item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.projects .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects .details {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px 19px;
}
